/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  min-height: 100%; }

body {
  background: linear-gradient(0deg, #0a0821 0%, #151144 100%);
  color: #fcfcfc;
  font-family: 'Quicksand';
  font-size: 18px;
  height: 100%; }

a {
  color: #42b3b1;
  transition: color 200ms ease; }
  a:hover {
    color: #88d3d2;
    cursor: pointer; }
    a:hover img {
      filter: brightness(1.2) contrast(0.7); }
  a:focus {
    border-radius: 10px;
    outline: 2px solid #cec3c1; }

h1 {
  margin-bottom: 40px; }

h2,
h3,
h4 {
  margin-bottom: 20px; }

h3,
h4 {
  font-size: 1.5rem; }

.hidden {
  opacity: 0;
  max-height: 0; }

img {
  display: block;
  transition: filter 200ms ease;
  width: 100%; }

.centered-text {
  text-align: center; }

.title {
  font-size: 2rem;
  font-weight: 900; }

.subtitle {
  font-size: 1.75rem; }

@keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px; }
  100% {
    background-position: 1600px 0; } }

gradient {
  background-image: linear-gradient(280deg, #42b3b1 20%, #9b98d7 70%, #42b3b1 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animationgradienttitle 50s infinite forwards; }

menu {
  top: 50%;
  /* Moves the top edge of the child to the vertical center of the parent */
  transform: translateY(-50%);
  position: fixed;
  right: 5px;
  padding: 5px;
  z-index: 1; }
  menu a {
    background-color: #fcfcfc;
    border-radius: 50%;
    display: block;
    margin: 20px 0;
    padding: 10px; }
    menu a:focus, menu a:focus:active {
      outline-offset: 4px;
      background-color: #fcfcfc; }
    menu a:active:nth-child(1), menu a.active:nth-child(1) {
      background-color: #9b98d7; }
    menu a:active:nth-child(2), menu a.active:nth-child(2) {
      background-color: #42b3b1; }
    menu a:active:nth-child(3), menu a.active:nth-child(3) {
      background-color: #de3c4b; }
    menu a:active:nth-child(4), menu a.active:nth-child(4) {
      background-color: #ffd166; }
    menu a:active:nth-child(5), menu a.active:nth-child(5) {
      background-color: #9b98d7; }

.container {
  padding: 40px;
  margin: auto;
  max-width: 1200px; }

#intro {
  position: relative; }
  #intro .title {
    animation: fadeIn 2s cubic-bezier(1, -0.8, 0.6, 1) forwards; }

.intro-profile-pic {
  animation: fadeIn 1.5s cubic-bezier(1, -0.25, 0.35, 1) forwards;
  background: rgba(10, 8, 33, 0.9);
  border-radius: 15px;
  padding: 40px;
  position: relative; }
  .intro-profile-pic p {
    margin-bottom: 20px; }

.profile-wrapper {
  margin: 0 auto 30px;
  position: relative; }

section,
footer {
  padding: 80px 0; }

.description {
  font-size: 1.5rem;
  margin-bottom: 80px;
  text-align: center; }

.all-posts__content {
  columns: 4 260px;
  column-gap: 40px;
  transition: opacity 800ms ease 200ms;
  overflow: hidden; }

.all-posts__menu {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px; }
  .all-posts__menu a {
    border: 2px solid #42b3b1;
    border-radius: 10px;
    display: inline;
    color: #fcfcfc;
    padding: 5px;
    text-decoration: none;
    transition: #27265f 200ms ease, border 200ms ease; }
    .all-posts__menu a.active {
      background-color: #42b3b1;
      color: #151144; }
    .all-posts__menu a:hover:not(.active) {
      background-color: #0a0821;
      border-color: #276867; }

.post__link {
  background-color: #0a0821;
  border-radius: 15px;
  display: block;
  margin: 0 0 40px;
  break-inside: avoid;
  overflow: hidden;
  text-decoration: none;
  transition: transform 200ms ease; }
  .post__link:focus {
    outline-offset: -2px; }
  .post__link:hover {
    transform: scale(0.97); }

.post__image-wrapper {
  overflow: hidden; }

.post__title-wrapper {
  padding: 20px; }

.post__tag-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px; }

.post__tag {
  background-color: #cec3c1;
  border-radius: 5px;
  color: #0a0821;
  padding: 5px;
  font-size: 0.75rem; }

.post__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px; }
  .post__close:hover {
    cursor: pointer;
    filter: brightness(1.2); }
  .post__close:before, .post__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #9b98d7; }
  .post__close:before {
    transform: rotate(45deg); }
  .post__close:after {
    transform: rotate(-45deg); }

.post__more-info {
  display: none;
  background-color: rgba(10, 8, 33, 0.9);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1; }

.post__more-info-content {
  border-radius: 10px;
  flex-direction: column;
  background-color: #151144;
  display: flex;
  margin: auto;
  max-height: 90%;
  overflow-y: scroll;
  padding: 40px;
  position: relative;
  max-width: 95%; }
  .post__more-info-content p {
    margin-bottom: 20px; }

.post__wrapper {
  align-items: center;
  display: flex;
  height: 100%; }

.post__carousel {
  background-color: #0a0821;
  min-width: 60%;
  overflow-y: scroll;
  padding: 20px; }
  .post__carousel img {
    margin: 0 auto;
    max-width: 100%;
    width: auto; }
  .post__carousel li:not(:last-child) img {
    margin-bottom: 20px; }

.post__single-image img {
  max-width: 100%;
  /* Ensures the image doesn't exceed its container's width */
  height: auto;
  object-fit: contain; }

.post__see-more-link {
  border: 2px solid #42b3b1;
  border-radius: 10px;
  display: block;
  padding: 20px;
  text-align: center; }
  .post__see-more-link img {
    margin: 0 auto 20px;
    max-width: 75px; }

.layout-columns {
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); }

.multi-skill {
  align-items: flex-end;
  color: #fcfcfc;
  display: flex;
  height: 130px;
  justify-content: center;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  padding: 0 40px;
  position: relative;
  text-align: center;
  transition: opacity 500ms ease;
  width: 260px; }
  .multi-skill.animated {
    opacity: 1; }
    .multi-skill.animated skill {
      animation: 2s skillAnimation ease-in; }
  .multi-skill skill {
    border: 20px solid #151144;
    border-radius: 0 0 300px 300px;
    border-top: none;
    width: inherit;
    height: inherit;
    position: absolute;
    transform-origin: 50% 0% 0;
    left: 0;
    top: 100%;
    transform: rotate(calc(1deg * (var(--percentage) * 1.8))); }
    .multi-skill skill + skill {
      border-color: #de3c4b; }

.timeline {
  position: relative;
  margin: 0 auto; }
  .timeline::after {
    background-color: #ffd166;
    content: '';
    position: absolute;
    width: 6px;
    top: 0;
    bottom: 0;
    left: 10px;
    margin-left: -3px;
    z-index: -1; }
  .timeline__block {
    position: relative;
    margin-bottom: 20px;
    padding-left: 50px; }
    .timeline__block::after {
      background-color: #ffd166;
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      left: -7px;
      border: 4px solid #ffd166;
      top: 15px;
      border-radius: 50%;
      z-index: 1; }
    .timeline__block::before {
      border: medium solid #ffd166;
      border-width: 10px 10px 10px 0;
      border-color: transparent #ffd166 transparent transparent;
      content: ' ';
      height: 0;
      position: absolute;
      top: 20px;
      left: 40px;
      z-index: 1; }
  .timeline__content {
    background-color: #0a0821;
    border: 2px solid #ffd166;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative; }
    .timeline__content span {
      color: #9b98d7; }
    .timeline__content b {
      display: block;
      margin-bottom: 20px; }
    .timeline__content.centered-text b {
      margin: 0; }

.footer {
  opacity: 0;
  text-align: center; }
  .footer.animated {
    animation: fadeIn 1s cubic-bezier(0.5, 0, 0.35, 1) forwards; }
  .footer__social {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px; }
  .footer__social-link {
    padding: 10px;
    max-width: 70px; }

/* STARS ANIMATION STYLES */
#star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; }

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle var(--duration, 3s) infinite ease-in-out;
  will-change: transform, opacity; }

/* Define the animation steps */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(150px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.8); }
  50% {
    opacity: 1;
    transform: scale(1.2); } }

@keyframes skillAnimation {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); } }

/* KEYFRAMES */
@keyframes animateCloud {
  100% {
    margin-left: 100%; } }

/* ANIMATIONS */
.cloud-1 {
  animation: animateCloud 55s linear infinite;
  transform: scale(0.25);
  margin-left: -420px; }

.cloud-2 {
  animation: animateCloud 40s linear infinite;
  transform: scale(0.4);
  margin-left: -50px; }

.cloud-3 {
  animation: animateCloud 54s linear infinite;
  transform: scale(0.6);
  margin-left: 420px; }

.cloud-4 {
  animation: animateCloud 28s linear infinite;
  transform: scale(0.4);
  margin-left: -270px; }

.cloud-5 {
  animation: animateCloud 35s linear infinite;
  transform: scale(0.35);
  margin-left: -450px; }

#arrows {
  animation: fadeIn 4s cubic-bezier(1, -0.8, 0.6, 1) forwards;
  bottom: 20px;
  display: block;
  padding: 5px 20px 35px;
  left: 0;
  margin: 40px auto 0;
  position: absolute;
  right: 0;
  width: fit-content; }
  #arrows .arrow {
    animation: animate 2s infinite;
    display: block;
    border-right: 2px solid #9b98d7;
    border-bottom: 2px solid #9b98d7;
    height: 20px;
    margin: -10px;
    transform: rotate(45deg);
    width: 20px; }
    #arrows .arrow:nth-child(2) {
      animation-delay: -0.2s; }
    #arrows .arrow:nth-child(3) {
      animation-delay: -0.4s; }

@keyframes animate {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px); }
  100% {
    opacity: 0; } }

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* OBJECTS */
.cloud {
  background: #dedede;
  border-radius: 100px;
  box-shadow: 0 10px 15px rgba(17, 17, 17, 0.7);
  height: 120px;
  position: relative;
  width: 350px; }
  .cloud::after, .cloud::before {
    background: #dedede;
    content: '';
    position: absolute;
    z-index: -1; }
  .cloud::after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px; }
  .cloud::before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px; }

.cloud-wrap {
  opacity: 0.1;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1; }

.moon {
  background: rgba(252, 252, 252, 0.4);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  z-index: 9; }
  .moon::before, .moon::after {
    border-radius: 50%;
    content: '';
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1; }
  .moon::before {
    background: rgba(252, 252, 252, 0.1);
    filter: blur(15px);
    width: 210px;
    height: 210px; }
  .moon::after {
    background: #fcfcfc;
    width: 120px;
    height: 120px; }

.hills-container {
  height: 240px;
  overflow: hidden;
  position: relative; }
  .hills-container .hill {
    background-color: #332a29;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 220px;
    border-top-right-radius: 120%;
    border-top-left-radius: 120%; }
    .hills-container .hill::before {
      background-color: #423634;
      content: '';
      border-top-right-radius: 100%;
      bottom: -70px;
      height: 220px;
      left: -100px;
      position: absolute;
      width: 100%; }
    .hills-container .hill::after {
      background-color: #50413f;
      border-top-left-radius: 100%;
      border-top-right-radius: 10%;
      bottom: -150px;
      content: '';
      height: 290px;
      position: absolute;
      right: -50%;
      width: 160%; }

@media (min-width: 600px) {
  .container {
    padding: 80px 20px; }
  .title {
    font-size: 2.5rem; }
  .subtitle {
    font-size: 2rem; }
  .timeline::after {
    left: 50%; }
  .timeline__block {
    opacity: 0;
    padding: 10px 40px;
    width: 50%; }
    .timeline__block.left {
      /* Fix the circle for containers on the right side */
      /* Add arrows to the left container (pointing right) */ }
      .timeline__block.left.animated {
        animation: slideIn-left 1s 200ms cubic-bezier(0, 0.25, 0.25, 1) forwards; }
  @keyframes slideIn-left {
    from {
      opacity: 0;
      transform: translateX(-250px); }
    to {
      opacity: 1;
      transform: translateX(0); } }
      .timeline__block.left::after {
        right: -16px;
        left: auto; }
      .timeline__block.left::before {
        right: 30px;
        left: auto;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #ffd166; }
    .timeline__block.right {
      left: 50%;
      /* Fix the circle for containers on the right side */ }
      .timeline__block.right.animated {
        animation: slideIn-right 1s 200ms cubic-bezier(0, 0.25, 0.25, 1) forwards; }
  @keyframes slideIn-right {
    from {
      opacity: 0;
      transform: translateX(250px); }
    to {
      opacity: 1;
      transform: translateX(0); } }
      .timeline__block.right::after {
        left: -16px; }
      .timeline__block.right::before {
        left: 30px; }
  section {
    padding-left: 80px;
    padding-right: 80px; }
  .post__more-info-content {
    padding: 50px;
    overflow-y: auto;
    gap: 40px; }
  .profile-wrapper {
    flex-shrink: 0;
    margin: 0;
    width: 200px; }
  .footer__social-link {
    max-width: 100px;
    padding: 20px; } }

@media (min-width: 1100px) {
  .intro-profile-pic {
    align-items: center;
    column-gap: 40px;
    display: flex; }
  .post__more-info-content {
    flex-direction: row;
    max-width: 75%; }
    .post__more-info-content > div:first-child {
      width: 45%; }
    .post__more-info-content > div:last-child {
      max-width: 49%; } }
